.groupId-container{
    font-family: Arial, Helvetica, sans-serif;
}

.group-by-container{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.top-container{
    display: grid;
    padding-bottom: 20px;
    margin-bottom: 0px;
    padding-top: 60px;
}

.group-small-border{
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: 1px solid white ;;
    border-radius: 20px;
    border-width: 20px;
    background-color: white ;
    font-family: Arial, Helvetica, sans-serif;
    width: 500px;
    padding-top: 10px;
    margin-top: 20px;
}

.card{
    display: grid;
    grid-template-columns: 1fr 2fr;
    size: 200px;
    padding-bottom: 10px;
}

.bottom-container{
    background-color: rgb(243, 237, 237);
    padding-top: 0px;
    margin-top: 0px;
}

.grid-left-padding{
    padding-left: 200px;
}

.grid-right-padding{
    padding-right: 200px;
}

.image-size{
    width: 600px;
}

.small-image{
    width: 200px;
}

.inner-padding{
    padding-left: 25px;
    padding-top: 10px;
}

h6{
    color: gray
}

h5{
    color: gray
}

.date{
    color: teal
}

.location{
    color: gray;
    margin-top: 5px;
}

.join-group-button{
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 15px;
    font-size: 20px;
    padding-left: 15px;
    background-color: red;
    border: 2px solid black;
    box-shadow: 3px 3px 0px 2px black;
    cursor: pointer;
}

.right-side{
    display: flex;
}

.align-button{
   padding-top: 140px;
}

.space-between{
    padding-left: 6px;
}

.upper-padding{
    padding-top: 20px;
}

.mini-titles{
    font-size: 25px
}

.top-link{
    color: teal;
    padding: 8px;
}

@media screen and (max-width: 1024px){
    .grid-left-padding{
        padding-left: 20px;
    }
    .inner-padding{
        padding-right: 0px;
        margin-right: 0px;
        width: 300px;
    }
    .align-button{
        padding-right: 0px;
    }
    .top-container{
        width: 800px;
    }
    .image-size{
        width: 500px;
    }
    .grid-right-padding{
        width: 300px;
        padding-right: 0px;
    }

}
