.events-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    font-family: Arial, Helvetica, sans-serif;
}


.inner-event-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.outer-event-container{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 210px;
    width: 650px


}

.left-spacing{
    padding-left: 20px;

}

.events-top-spacing{
     padding-top: 20px;
     padding-left:40px;
}

.events-header{
 display: flex;
 align-items: start;
 justify-content: start;
 width: 300px;
 margin-bottom: 0px;
 padding-bottom: 0px;
}

.event-borders{
    border-top: 2px solid lightgray;
    margin-bottom: 0px;
    padding-bottom: 0px;

}

.inner-box{
display: grid;
grid-template-columns: 1fr 3fr;
}

.event-image{
    margin-left: 0px;
    padding-right: 15px;
    padding-bottom: 20px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.events-text-width{
    display: flex;
    align-items: center;
    width: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.no-top-padding{
  padding-top: 0px;
 margin-top: 0px;
}

.no-bottom-padding{
    margin-bottom: 0px;
}

.location{
    margin-top: 0px;
    margin-bottom: 10px;
}
