.signup-modal{
    border-style: none;
    border-radius: 15px;
    height: 350px;
    width: 400px;
}

.signup-container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-left: 45px;
}

.signup-box{
    background-color:#E8F0FE;
    border: 2px solid black;
    width: 300px;
    color: #CCCCCC
}

.signup-button{
    border: 2px solid gray;
    background-color: white;
    width: 305px;
    color: gray;
    height: 45px;
    box-shadow: 4px 3px 0px 1px;
}
