
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;

}

.signupBorder{
    border-radius: 5px;
    background-color: teal;
    border-color: teal;
    border-style: solid;
    border-width: 10px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
}

.loginBorder{
    border-style: none;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
}

.homeButton{
    display: flex;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;

}
li{
    display: flex;
    border-bottom: 40px;
}
