.dropdown{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: white;
    width: 170px;
    height: 80px;
    font-size: small;
    padding-top: 5px;
    border: 1px solid black;
    align-items: left;
}

.content{
    padding-top: 0px;
    margin-bottom: 5px;
    margin-left: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 30px;

}
